<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Caisse Enregistreuse</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/CaisseEnregistreuse.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/ticket.css" media="print">

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io('/CaisseEnregistreuse');
        socket.on('CaisseEnregistreuse',function(data){
            passData(data);
        });
    </script>

</head>

<body>


<div class="col-md-3" id="menu">
    <div class="panel-group" id="accordion">
        <% for(var i=0; i<Table.length; i++) {%>
        <div class="panel panel-primary" id="t<%=Table[i]%>">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <p data-toggle="collapse" data-parent="#accordion" href="#collapse<%=Table[i]%>">Table <%=Table[i]%></p>
                </h4>
            </div>
            <div id="collapse<%=Table[i]%>" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-striped" id="tableT<%=Table[i]%>">
                        <thead>
                        <tr>
                            <th>Quantité :</th>
                            <th>Nom du produit :</th>
                            <th>Prix :</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="Table <%=Table[i]%>"></tbody>
                    </table>
                    <div class="paiement">
                        <p>
                            <label for="recu<%=Table[i]%>">Argent reçu : </label>
                            <input class="recu" id="recu<%=Table[i]%>" name="recu<%=Table[i]%>" placeholder='Entrez une valeur'/>
                        </p>
                        <p><label>Total TVA(<%= Tva[0]*100 %>/<%= Tva[1]*100 %>%) : <span id="totalTVA<%=Table[i]%>">0</span> €</label></p>
                        <p><label>Total HTVA : <span id="totalHTVA<%=Table[i]%>">0</span> €</label></p>
                        <p><label class="total">Total : <span id="total<%=Table[i]%>">0</span> €</label></p>
                        <p><label class="totalRestant">Total restant à payer : <span id="totalRes<%=Table[i]%>">0</span> €</label></p>
                        <p><label>A rendre : <span id="rendu<%=Table[i]%>"></span></label></p>
                        <p>
                            <label name="btnSuspendu<%=Table[i]%>">Payer un plat suspendu :</label>
                            <select id="typeSuspendu<%=Table[i]%>">
                                <% for(var j=0; j<PlatsSuspendus.length; j++) {%>
                                    <option><%= PlatsSuspendus[j][0] %></option>
                                <% } %>
                            </select>
                            <button class="btnPayer" name="btnSuspendu<%=Table[i]%>" id="btnSuspendu<%=Table[i]%>" onclick="suspendu(<%=Table[i]%>)">Ajouter</button>
                        </p>
                        <button class="btnTicket" id="btnTicket<%=Table[i]%>" onclick="ticket(<%=Table[i]%>);">Ticket</button>
                        <button class="btnPayer" id="btnPayer<%=Table[i]%>" onclick="payer(<%=Table[i]%>)">Payer</button>
                        <select id="typePaiement<%=Table[i]%>">
                            <option>Liquide</option>
                            <option>Bancontact</option>
                            <option>Visa(carte de crédit)</option>
                            <option>Ticket restaurant</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="ticket<%=Table[i]%>" class="ticket">
                <h1>Ticket  de  caisse  TVA :</h1>
                <p><%=RestaurantName%></p>
                <div id="tickethead<%=Table[i]%>"></div>
                <table class="table table-striped" id="tableTicketT<%=Table[i]%>">
                    <thead>
                    <tr>
                        <th>Quantité :</th>
                        <th>Nom du produit :</th>
                        <th>Prix :</th>
                    </tr>
                    </thead>
                    <tbody id="tableTicket<%=Table[i]%>"></tbody>
                </table>
                <p><label>Total TVA(<%= Tva[0]*100 %>/<%= Tva[1]*100 %>%) : <span id="totalTVATicket<%=Table[i]%>">0</span> €</label></p>
                <p><label>Total HTVA : <span id="totalHTVATicket<%=Table[i]%>">0</span> €</label></p>
                <p><label class="total">Total : <span id="totalTicket<%=Table[i]%>">0</span> €</label></p>
            </div>
        </div>
        <% } %>

    </div>

    <div class="col-md-4" id="paiementSepare">
        <table class="table table-striped" id="tableSepare">
            <caption>Paiement séparé</caption>
            <thead>
            <tr>
                <th>Quantité :</th>
                <th>Nom du produit :</th>
                <th>Prix :</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody id="tabPaiementSep"></tbody>
        </table>
        <div class="paiement">
            <p>
                <label for="recu1">Argent reçu : </label>
                <input id="recuPaiementSep" class="recu" name="recu1" placeholder='Entrez une valeur'/>
            </p>
            <p><label class="total">Total : <span id="totalPaiementSep"></span> €</label></p>
            <p><label>A rendre : <span id="renduPaiementSep"></span></label></p>
            <button class="btnPayer" onclick="payerSep()">Payer</button>
            <select id="typePaiementSep">
                <option>Liquide</option>
                <option>Bancontact</option>
                <option>Visa(carte de crédit)</option>
                <option>Ticket restaurant</option>
            </select>
        </div>
    </div>
</div>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<![endif]-->

<!-- jQuery -->
<script src="javascripts/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="javascripts/bootstrap.min.js"></script>

<script src="javascripts/utils.js"></script>
<script src="javascripts/CaisseEnregistreuse.js"></script>




</body>

</html>



