<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pronto</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/pronto.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <![endif]-->
        <script src="javascripts/object.js"></script>

</head>

<body onload="drawAll()">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand" onclick="showBox('home')">Home</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <% for(var i=0; i<Menu.length; i++) {%>
                    <li><a href="#" onclick="showBox('<%=Menu[i]%>')"><%=Menu[i]%></a></li>
                    <% } %>

                    <li>
                        <a href="#" onclick="showBox('commande')">Commande</a>
                    </li>
                </ul>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->

    <div class="col-md-3" id="home">
        <p class="lead"><%=RestaurantName%></p>

        <!--sélection du serveur rempli onload-->
        <div class="form-group">
            <label for="dropdownMenuServeur">Sélectionner le garçon de salle ici:</label>
            <select class="form-control" id="dropdownMenuServeur" onclick="setGarcon(this)">
                <option><a href="#" >---</a></option>
                <% for(var i=0; i<Serveur.length; i++) {%>
                   <option><a href="#" ><%= Serveur[i] %></a></option>
                <% } %>
            </select>
            <br>
        </div>

        <!-- sélection de la table rempli onload-->
        <div class="form-group">
            <label for="dropdownMenuTable">Sélectionner la table ici:</label>
            <select class="form-control" id="dropdownMenuTable" onclick="setTable(this)">
                <option><a href="#" >---</a></option>
                <% for(var i=0; i<Table.length; i++) {%>
                   <option><a href="#" >Table <%= Table[i] %></a></option>
                <% } %>
            </select>
            <br>
        </div>

    </div>


    <!-- Entrées -->

    <div class="col-md-9" id="<%=Menu[0]%>" style="display: none;">

        <h2><%=Menu[0]%></h2>

        <!--<h3 id="entreeChaude">Entrées chaudes</h3>-->
        <% for(i in Entrees) {%>
        <div class="thumbnail" id="<%= Entrees[i][0] %>">
            <div class="caption-full">
                <h4 class="pull-right" id="entree1Prix"><%= Entrees[i][1] %></h4>
                <h4><a href="#" onmouseover="affiche()" class="link_ingredient" id="<%= Entrees[i][2]+i %>Nom"><%= Entrees[i][0] %></a></h4>
                <h4>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-number" disabled="disabled" data-type="minus" data-field="quant[<%= i %>]">
                                <span class="">-</span>
                            </button>
                        </span>
                        <input type="text" name="quant[<%= i %>]" id="<%= Entrees[i][2]+i %>Input" class="form-control input-number" value="1" min="1" max="100">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-number" data-type="plus" data-field="quant[<%= i %>]">
                                <span class="">+</span>
                            </button>
                        </span>
                    </div>
                </h4>
                <h4 class="pull-right">
                    <button class="btn btn-default" onclick="getItem('<%= Entrees[i][2]+i %>')">Ajouter</button>
                </h4>
                <!-- <p id="entree1Desc">jumbo lump crab, avocado, herb oil.</p>-->
                <textarea class="form-control" rows="2" id="<%= Entrees[i][2]+i %>Comment" placeholder="Commentaires: "></textarea>
            </div>
        </div>
        <% } %>

    </div>

    <!-- Plats -->

    <div class="col-md-9" id="<%=Menu[1]%>" style="display: none;">

        <h2><%=Menu[1]%></h2>

        <!--<h3 id="viandes">Viandes</h3>-->

        <% for(i in Plats) {%>
        <div class="thumbnail" id="<%= Plats[i][0] %>">
            <div class="caption-full">
                <h4 class="pull-right" id="entree1Prix"><%= Plats[i][1] %></h4>
                <h4><a href="#" onmouseover="affiche()" class="link_ingredient" id="<%= Plats[i][2]+i %>Nom"><%= Plats[i][0] %></a></h4>
                <h4>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-number" disabled="disabled" data-type="minus" data-field="quant[<%= i %>]">
                                <span class="">-</span>
                            </button>
                        </span>
                        <input type="text" name="quant[<%= i %>]" id="<%= Plats[i][2]+i %>Input" class="form-control input-number" value="1" min="1" max="100">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-number" data-type="plus" data-field="quant[<%= i %>]">
                                <span class="">+</span>
                            </button>
                        </span>
                    </div>
                </h4>
                <div class="col-md-3 form-group">
                    <select class="form-control" id="plat1Acc">
                        <option><a href="#" >Accompagnements</a></option>

                        <% for(j in Accompagnements) {%>
                            <option><a href="#"><%= Accompagnements[j][1] %></a></option>
                        <% } %>
                    </select>
                </div>
                <div class="col-md-3 form-group">
                    <select class="form-control" id="plat1Supp">
                        <option><a href="#" >Suppléments</a></option>

                        <% for(j in Supplements) {%>
                            <option><a href="#"><%= Supplements[j][1] %></a></option>
                        <% } %>
                    </select>
                </div>
                <h4 class="pull-right">
                    <button class="btn btn-default" onclick="getItem('<%= Plats[i][2]+i %>')">Ajouter</button>
                </h4>
                <!-- <p id="entree1Desc">jumbo lump crab, avocado, herb oil.</p>-->
                <textarea class="form-control" rows="2" id="<%= Plats[i][2]+i %>Comment" placeholder="Commentaires: "></textarea>
            </div>
        </div>
        <% } %>

    </div>



    <!-- Desserts -->

    <div class="col-md-9" id="<%=Menu[2]%>" style="display: none;">

        <h2><%=Menu[2]%></h2>

        <!--<h3 id="auxFruits">Desserts aux fruits</h3>-->

        <% for(i in Desserts) {%>
        <div class="thumbnail" id="<%= Desserts[i][0] %>">
            <div class="caption-full">
                <h4 class="pull-right" id="entree1Prix"><%= Desserts[i][1] %></h4>
                <h4><a href="#" onmouseover="affiche()" class="link_ingredient" id="<%= Desserts[i][2]+i %>Nom"><%= Desserts[i][0] %></a></h4>
                <h4>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-number" disabled="disabled" data-type="minus" data-field="quant[<%= i %>]">
                                <span class="">-</span>
                            </button>
                        </span>
                        <input type="text" name="quant[<%= i %>]" id="<%= Desserts[i][2]+i %>Input" class="form-control input-number" value="1" min="1" max="100">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-number" data-type="plus" data-field="quant[<%= i %>]">
                                <span class="">+</span>
                            </button>
                        </span>
                    </div>
                </h4>
                <h4 class="pull-right">
                    <button class="btn btn-default" onclick="getItem('<%= Desserts[i][2]+i %>')">Ajouter</button>
                </h4>
                <!-- <p id="entree1Desc">jumbo lump crab, avocado, herb oil.</p>-->
                <textarea class="form-control" rows="2" id="<%= Desserts[i][2]+i %>Comment" placeholder="Commentaires: "></textarea>
            </div>
        </div>
        <% } %>

    </div>



    <!-- Boissons -->

    <div class="col-md-9" id="<%=Menu[3]%>" style="display: none;">

        <h2><%=Menu[3]%></h2>

        <!--<h3 id="theEtCafe">Thés et cafés</h3>-->

        <% for(i in Boissons) {%>
        <div class="thumbnail" id="<%= Boissons[i][0] %>">
            <div class="caption-full">
                <h4 class="pull-right" id="entree1Prix"><%= Boissons[i][1] %></h4>
                <h4><a href="#" onmouseover="affiche()" class="link_ingredient" id="<%= Boissons[i][2]+i %>Nom"><%= Boissons[i][0] %></a></h4>
                <h4>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-number" disabled="disabled" data-type="minus" data-field="quant[<%= 100 + i %>]">
                                <span class="">-</span>
                            </button>
                        </span>
                        <input type="text" name="quant[<%= 100 + i %>]" id="<%= Boissons[i][2]+i %>Input" class="form-control input-number" value="1" min="1" max="100">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-number" data-type="plus" data-field="quant[<%= 100 + i %>]">
                                <span class="">+</span>
                            </button>
                        </span>
                    </div>
                </h4>
                <h4 class="pull-right">
                    <button class="btn btn-default" onclick="getItem('<%= Boissons[i][2]+i %>')">Ajouter</button>
                </h4>
                <!-- <p id="entree1Desc">jumbo lump crab, avocado, herb oil.</p>-->
                <textarea class="form-control" rows="2" id="<%= Boissons[i][2]+i %>Comment" placeholder="Commentaires: "></textarea>
            </div>
        </div>
        <% } %>

    </div>



<!-- Commandes -->

    <div class="col-md-9" id="commande" style="display: none;">
        <h2>Commandes</h2>
        <p>Service par le garçon de salle : <b id="garconCom"></b>.</p>
        <p>Table servie : <b id="tableCom"></b>.</p>
        <div id="tempCom"></div>

        <h4 class="pull-right"><button class="btn btn-success" onclick="onSubmit()">Commander</button></h4>

        <h4 class="pull-right"><button class="btn btn-success" onclick="raz()">Annuler</button></h4>

    </div>

    <!-- /.container -->

    <div class="container">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p></p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

    <script src="javascripts/pronto.js"></script>
    <script src="javascripts/utils.js"></script>

</body>

</html>
